PORT=3000
DATABASE_URL=postgres://marc:marc@localhost:5432/marc_parser
RABBITMQ_URL=amqp://marc:marc@localhost:5672
RABBITMQ_QUEUE=marc.convert
MINIO_ENDPOINT=localhost
MINIO_PORT=9000
MINIO_USE_SSL=false
MINIO_ACCESS_KEY=marc
MINIO_SECRET_KEY=marc-secret
MINIO_BUCKET=marc-jobs
MAX_UPLOAD_BYTES=5368709120
WORKER_CONCURRENCY=2
JOB_MAX_ATTEMPTS=3
